/* ==========================================================================
Author's custom styles
========================================================================== */

header {
    background: #2b2227;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;

    a { color: white; text-decoration: none;}

}

h1 {
    font-size: 24px;
    line-height: 60px;
    margin: 0 0 0 30px;
    padding: 0;
}

nav {display: inline-block}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 60px;
}

nav li {
    margin-right: 30px;
}

#gf-feedback {
    background: yellow;
    height: 100%;
    border: 0;
    padding: 20px;
    cursor: pointer;
}

#stage {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    // overflow: hidden;

    &.hover { cursor: pointer;}

    #fullscreen {
        position: absolute;
        bottom: 30px;
        right: 30px;
        background: transparent;
        border: dashed 2px white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;

        &:hover {
            background: white;
            color: black;
        }

    }

    .counter {
        position: absolute;
        top: 30px;
        right: 30px;
        color: white;
        text-align: center;
        span {
            font-size: 30px;
            font-weight: bold;
            display: block;
        }
    }

}

#surveyStage {
    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
        width: 640px;
        border: 0;
        padding: 30px 0;
    }

}

.fullStage {
    position: absolute;
    display: block;
    background-color: rgba(black, 0.9);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(100vw - 28% - 60px);
    height: calc(100vh - 120px);
    top: 90px;
    left: calc(28% + 30px);
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
    }

    figure {
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        // margin-top: -50%;
    }

    // figcaption {
    //     display: none;
    //     position: absolute;
    //     bottom: 0;
    //     padding: 1rem;
    //     margin: 40px;
    //     background: rgba(black, 0.8);
    //     color: white;
    //     max-width: 50%;
    //     text-align:  left;
    // }

    figcaption {
        display: none;
    }

    .close {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0px;
        right: 0px;
        border: 0;
        background: red;
        color: white;
        line-height: 1;
        font-size: 24px;
        padding: 0;
        cursor: pointer;

        &:hover {
            background: white;
            color: black;
        }
    }
}

#videoStage {
    display: flex;
    justify-content: center;
    align-content: center;

    .plyr {
        width: 100%;
        position: relative;
    }

    .plyr__video-wrapper {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

}

.content {
    width: 28%;
    height: calc(100vh - 120px);
    background: #2b2227;
    margin: 0px;
    padding: 30px;
    position: absolute;
    top: 90px;
    left: 30px;
    overflow-y: scroll;
    color: white;

    &::-webkit-scrollbar-button{ display: none; height: 10px; border-radius: 5px; }
    &::-webkit-scrollbar-button:hover{ background-color: #AAA; } 
    &::-webkit-scrollbar-thumb{ background-color: rgba(white, 0.7); width: 5px; border-radius: 5px; margin: 5px;}
    &::-webkit-scrollbar-thumb:hover{ background-color: white; }
    &::-webkit-scrollbar-track{ background-color: rgba(black, 0.5); width: 20px;}
    &::-webkit-scrollbar-track:hover{ background-color: rgba(black, 0.3); } 
    &::-webkit-scrollbar{ width: 7px;}

    scrollbar-color: white transparent;
    scrollbar-width: thin;

    h1 {
        margin: 0 0 24px 0;
        line-height: 1.35;
    }

}

.selection {
    position: absolute;
}

p {
    margin: 0 0 24px 0;
    font-size: 16px;
    line-height: 1.5;
}