/* ==========================================================================
Typography CSS
========================================================================== */

html {
	font-family: $font-primary;
	line-height: 1.5;
	font-weight: 400;
	color: $black;
	
	/* Make type rendering look crisper */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	/* Enable kerning and optional ligatures */
	text-rendering: optimizeLegibility;

	@include respond-to(phones) { line-height: 1.35;}
	@include respond-to(xldesktop) { font-size: 120%; }

}

body { font-size: 0.875rem; } 

h1, h2, h3, h4 {
	font-family: $font-secondary;
	font-weight: 700;
	line-height: 1.35;
}

h2 { line-height: 1; }

p, h1, h2, h3, h4 {
	margin: 0 0 $margin-small 0;
}

h1 { font-size: 1.5rem; margin: 0; }
h2 { 
	font-size: 3rem;
	@include respond-to(phones) { font-size: 1.5rem; line-height: 1.35;}
}
h3 { font-size: 2.25rem; }
h4 { font-size: 1.125rem; margin: 0;}

a {
	color: $theme;
	text-decoration: none;
	border-bottom: dotted 1px $theme;

	&:hover { text-decoration: none; border-bottom-color: transparent; }

}

button {
	
	background: none;
	border: 0;
	min-width: 10rem;
	font-family: $font-secondary;
	font-weight: 700;
	line-height: 1;
	cursor: pointer;

	&.theme { background-color: $theme; color: $white;}
	&.yellow { background-color: $yellow; }
	&.blue { background-color: $blue; color: $white;}
	&.dark { background-color: $black; color: $white;}
	&.white { background-color: $white; }
	&.border { border: solid 0.0625rem $theme; }

	&:disabled { background: $gray-dark; cursor: not-allowed; }

	&:hover:not(:disabled) { background-image: linear-gradient(rgba($white, 0.1), rgba($white, 0.1)) }
	&:active:not(:disabled){ transform: scale(0.8); box-shadow: none; }

	&.circle { min-width: auto; border-radius: 50%; }

}

blockquote {

	padding-bottom: $padding-small;
	background-color: $theme;
	background-image: linear-gradient(transparent, rgba(black, 0.15));
	color: white;
	position: relative;
	margin: 0;
	
	p:last-of-type { margin-bottom: 0; }
	
	cite {
		position: absolute;
		background-color: inherit;
		background-image: linear-gradient(transparent, rgba(black, 0.15));
		border-radius: 0.5rem;
		padding: 1rem;
		line-height: 1;
		bottom: -$margin-small;
		right: $margin-small;
		font-weight: 700;
		font-size: 0.875rem;
		font-style: normal;
	}

	&.green { background-color: $green; }
	&.blue { background-color: $blue; }
	&.red { background-color: $red; }
	&.pink { background-color: $pink; }
	&.green { background-color: $green; }
	
	&.right cite { left: $margin-small; right: auto;}
	
}